<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="BookStoreConnectionString" connectionString="Data Source=A308-14;Initial Catalog=BookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <pages theme="MainSkin"/>
    </system.web>

</configuration>
