<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="BookStoreConnectionString" 
             connectionString="
               uid=sa;
               pwd=123;
               database=BookStore
               "
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />

      <pages theme="BookStoreTheme"/>

      <anonymousIdentification enabled = "true"/>


      <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
        <providers>
          <clear/>
          <add connectionStringName="BookStoreConnectionString" 
               enablePasswordRetrieval="false" 
               enablePasswordReset="true" 
               requiresQuestionAndAnswer="true" 
               applicationName="BookStore" 
               requiresUniqueEmail="false" 
               passwordFormat="Hashed"
               maxInvalidPasswordAttempts="5" 
               minRequiredPasswordLength="3" 
               minRequiredNonalphanumericCharacters="0" 
               passwordAttemptWindow="10" 
               passwordStrengthRegularExpression=""
               name="AspNetSqlMembershipProvider"
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </membership>
      
      <roleManager enabled="true" cacheRolesInCookie="true">
        <providers>
          <clear/>
          <add connectionStringName="BookStoreConnectionString"
               applicationName="BookStore"
               name="AspNetSqlRoleProvider"
               type="System.Web.Security.SqlRoleProvider"/>
        </providers>
      </roleManager>

      <authentication mode="Forms">
        <forms loginUrl="~/Web/MainWeb.aspx" name="main"/>
      </authentication>
      
      <!--个性化服务-->
      <profile enabled="true" defaultProvider="AspNetSqlProfileProvider" automaticSaveEnabled="false">
        <providers>
          <clear/>
          <add name="AspNetSqlProfileProvider" connectionStringName="connectString" applicationName="BookStore" type="System.Web.Profile.SqlProfileProvider" description="存储Profile数据"/>
        </providers>
        <properties>
          <group name="OtherInfo">
            <add name="Realname" type="System.String"/>
            <add name="Phone" type="System.String"/>
            <add name="Address" type="System.String"/>
            <add name="Zipcode" type="System.String"/>
          </group>
          <add name="BsCartBLL" type="BsCartBLL" allowAnonymous="true" serializeAs="Binary"/>
        </properties>
      </profile>
      
    </system.web>

</configuration>                                                                                                                                                                                                                                                                                                                                                                                                                           
