<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="BookStoreConnectionString" 
             connectionString="
               uid=sa;
               pwd=123;
               database=BookStore
               "
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />

      <pages theme="BookStoreTheme"/>

      <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
        <providers>
          <clear/>
          <add connectionStringName="BookStoreConnectionString" 
               enablePasswordRetrieval="false" 
               enablePasswordReset="true" 
               requiresQuestionAndAnswer="true" 
               pplicationName="BookStore" 
               requiresUniqueEmail="false" 
               passwordFormat="Hashed" 
               maxInvalidPasswordAttempts="5" 
               minRequiredPasswordLength="7" 
               minRequiredNonalphanumericCharacters="1" 
               passwordAttemptWindow="10" 
               passwordStrengthRegularExpression="" 
               name="AspNetSqlMembershipProvider" 
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </membership>
      
      <roleManager enabled="true" cacheRolesInCookie="true">
        <providers>
          <clear/>
          <add connectionStringName="BookStoreConnectionString"
               applicationName="BookStore"
               name="AspNetSqlRoleProvider"
               type="System.Web.Security.SqlRoleProvider"/>
        </providers>
      </roleManager>

      <authentication mode="Forms">
        <forms loginUrl="~/Web/MainWeb.aspx" name="main"/>
      </authentication>
    </system.web>

</configuration>                                                                                                                                                                                                                                                                                                                                                                                                                           
